
#cardFront {
    text-align: center;
    border: 5px solid blue;
    height: 200px;
    /* visibility: visible; */
    margin-top: 0px;
    padding-top: 50px;
    font-size: 150%;
    
}

#cardBack {
    border: 3px solid red;
    height: 235px;
    /* visibility: hidden; */
    margin-top: -285px;
    font-size: 120%;
    padding-top: 20px;
    padding-left: 20px;
}

#reset {
    /* display: flex; */
    /* flex-direction: row; */
    align-items:center;
}


.button {
    width: 100px;
    height: 30px;
}

.buttonArea {
    height: 60px;
    display: flex;
}

.cardArea {
    height: 300px;
    border: 2px dashed black;
}

.categories {
    height: 100px;
}

.header {
    font-size: 50px;
    text-align: center;
}

/* not sure if these are needed anymore
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
} */
